experiments/dataset/Data/preproccessedData.pt
experiments/dataset/Data/preproccessedDataMASKS.pt
experiments/dataset/Data/RAW_dataset/
experiments/codes/my_decoder_model.pth

artifacts/*
!artifacts/.gitkeep
data_ingestion/*
!data_ingestion/.gitkeep
data_validation/*
!data_validation/.gitkeep
model_training/*
!model_training/.gitkeep
data_transfromation/*
!data_transfromation/.gitkeep
raw_data/*
!raw_data/.gitkeep
!.github/
.github/*
!.github/workflows/.gitkeep
