artifacts_root: artifacts


data_ingestion:
  root_dir: artifacts/data_ingestion
  source_hugging_face: ClusterlabAi/101_billion_arabic_words_dataset

data_validation:
  root_dir: artifacts/data_validation
  inputData: artifacts/data_ingestion/data

data_transformation:
  root_dir: artifacts/data_transformation
  inputData: artifacts/data_ingestion/data

model_trainer:
  root_dir: artifacts/modelTrainer
  inputData: artifacts/data_transformation/samsum_dataset
